/* Title start */

.title {
	font-family:Courier;
	font-size:28px;
	margin-left:20px;
	margin-right:20px;
	font-weight:500;
	color:#e23b30;
}

.mainhead {
	padding:10px;
	margin-left:20px;
	margin-right:20px;
	color:#fff;
	background-color:$mainGrey;
	border-radius:4px;
}

.class-title {
	font-family:Courier;
	font-size:24px;
	font-weight:300;
	width:50%;
	color:#fff;
	padding:10px;
	margin-bottom:.5rem;
	border-radius:4px;
	box-sizing:border-box;

	&--html {
		background-color:$htmlColor;
	}

	&--css {
		background-color:$cssColor;
	}

	&--java {
		background-color:$javaColor;
	}

	&--texted {
		background-color:$textedColor;
	}

	&--command {
		background-color:$commandColor;
	}

	&--hub {
		background-color:$hubColor;
	}

	&--git {
		background-color:$gitColor;
	}

	&--node {
		background-color:$nodeColor;
	}

	&--npm {
		background-color:$npmColor;
	}

	&--gulp {
		background-color:$gulpColor;
	}

	&--bem {
		background-color:$bemColor;
	}

	@mixin atMedium {
		width:90%;
	}

}

.para-body {
	font-weight:300;
	font-size:120%;
	line-height:1.5;
	padding-right:10px;
	margin-right:20px;

}

.lang-group {
	margin-left:20px;
	margin-top:15px;

	@mixin atMedium {
		display:inline-block;
		box-sizing:border-box;

	
	}
}


