$mainGrey:#666666;
$htmlColor:#4f7542;
$cssColor:#f7941e;
$javaColor:#376167;
$textedColor:#465254;
$commandColor:#2a4f55;
$hubColor:#4f133f;
$gitColor:#005079;
$nodeColor:#92661e;
$npmColor:#b76f11;
$gulpColor:#d2232a;
$bemColor:#991f22;
$skyColor:#00aeef;
